.receiptContainer {
  width: 220px;
  h3 {
    font-family: Orbitron;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .tourDetailsText {
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4, h5 {
      font-size: 18px;
      font-weight: 400;
      white-space: nowrap;
    }
  }  
  &:last-of-type {
    margin-bottom: 30px;
  }
}

