.tourSingleInstructions {
  width: 50%;
  position: absolute;
  top: 150px;
  left: 5%;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  color: white;
  transition: all .5s ease-out;
  padding: 1vw;
  opacity: 0;
  transform: translateY(-8px);
  animation: fadeInY 0.3s forwards;
  h2 {
    background: url('../../../assets/OptimizedBacks/BlackBack.jpg');
    border-radius: 20px;
    font-size: clamp(16px, 2vw, 30px);
    font-weight: 400;
    text-align: center;
    span {
      color: var(--primary-blue-50);
    }
  }
  .icon {
    width: clamp(32px, 4vw, 54px);
    height: clamp(32px, 4vw, 54px);
    align-self: flex-start;
    cursor: pointer;
  }
  @media all and (max-width: 1200px){
    width: 50vw
  }
  @media all and (max-width: 600px){
    width: 70vw
  }
}

.tourSingleContainer {
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  > .tourHeader {
    opacity: 0;
    transform: translateY(-8px);
    animation: fadeInY 0.3s forwards;
    animation-delay: 0.05s;
  }

  .main {
    .mainLeft {
      // Basic Information section
      > .tourDetails.one {
        opacity: 0;
        transform: translateY(-8px);
        animation: fadeInY 0.3s forwards;
        animation-delay: 0.55s;
      }
        // Departure Dates section
        > .tourDetails[aria-labelledby="departure-dates-title"] {
          opacity: 0;
          transform: translateY(-8px);
          animation: fadeInY 0.3s forwards;
          animation-delay: 1.05s;
        }
    }
    // Summary section
    > .mainRight {
      opacity: 0;
      transform: translateY(-8px);
      animation: fadeInY 0.3s forwards;
      animation-delay: 0.55s;
    }
  }
  @keyframes fadeInY {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .tourHeader {
    position: relative;
    width: 100%;
    .tourPicture {
      position: relative;
      height: 38vw;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    h1 { // planet name
      position: absolute;
      right: 6%;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.4);
      padding: 0 2px;
      font-family: Orbitron;
      font-size: 4vw;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }

  .main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 4vw;
    padding-right: 4vw;
    gap: 10vw;
    padding-top: 5vw;
    padding-bottom: 0;
     @media all and (max-width: 800px) {
      grid-template-columns: 1fr;
      padding: 8vw;
    }
    h2 {
      font-family: Orbitron;
      font-size: clamp(1.2rem, 2.5vw, 30px);
      margin-bottom: 10px;
      font-weight: 300;
    }
    p {
      font-size: clamp(1rem, 1vw, 20px);
    }
    .mainLeft {
      .tourDetails {
        margin-bottom: 2.5vw;
        .tourDetailsText, .peopleRef {
          white-space: nowrap;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .peopleRef {
          color: var(--primary-blue-50);
          display: none;
        }
      }
    }
  }
  .images {
    width: 90vw;
    display: flex;
    justify-content: space-between;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .tourImageContainer {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          margin-top: 0;
        }
      }
    }
    .tourImageContainer {
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
      &:nth-child(2) {
        margin-top: 2.5vw;
      }
      &:nth-child(3) {
        margin-top: 5vw;
      }
    }
  }
  h2.reviewsTitle {
    font-family: Orbitron;
    font-size: clamp(18px, 2.5vw, 36px);
    margin-bottom: 3.5vw;
    color: white;
    transform: translateX(20px);
  }
  .book {
    width: 100%;
    padding-top: 50px;
    display: grid;
    justify-items: center;
    p {
      font-size: 18px;
    }
    a {
      font-size: 18px;
      color: var(--primary-blue-50);
    }
  }

  .worksContainer {
    margin-top: 100px;
     width: 70vw;
      min-height: 30vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
      gap: 10px;
      .empty {
        font-family: Rajdhani;
        font-size: clamp(18px, 2.5vw, 36px);
      }
  }
 
