.button {
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow:
    inset 1.5px 1.5px 2px rgba(255,255,255,0.2),
    inset -1.5px -1.5px 3px rgba(0,0,0,1),
    1.5px 1.5px 2px rgba(0,0,0, 1);
  color: var(--primary-blue-50);
  white-space: nowrap ;
  padding: .75vw;
  font-size: clamp(10px, 1vw, 15px); 
  &:hover {
    color: white;
  }
  &:active {
    color: var(--primary-blue-70);
    box-shadow:
    inset -1.5px -1.5px 2px rgba(255,255,255,0.2),
    inset 1.5px 1.5px 3px rgba(0,0,0,1);   
  }
}

 .between {
    justify-content: space-between;
  }
  .around {
    justify-content: space-around;
  }
  .center {
    justify-content: center;
  }