.headerContainer {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    height: var(--header-height);
    width: 100%;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/OptimizedBacks/outpost.jpg');
    background-size: cover;
    box-shadow: 
      0 0 10px 2px var(--primary-blue-50),
      0 15px 20px rgb(114, 116, 192);
    a {
        color: var(--primary-blue-50);
        text-shadow: 0 0 5px white;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .logoLinkContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
        .logoLink {
            font-family: 'Orbitron', sans-serif;
            font-size: clamp(1rem, 2.7vw, 30px);
        }
        .rocketIcon {
            margin-right: 10px;
            width: clamp(1rem, 2.7vw, 30px);
            height: clamp(1rem, 2.7vw, 30px);
            transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
            filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 4px whtie);
            filter: drop-shadow(0 0 6px white);
        }
        &:hover {
            transform: scale(1.1);
            .rocketIcon {
                transform: rotate(-45deg);
            }
        }
    }
    .toursLinkContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 1;
      .toursLink {
        font-family: 'Orbitron', sans-serif;
        font-size: clamp(1rem, 2.7vw, 30px);
      }
      .planetIcon {
          color: var(--primary-blue-50);
          filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
          width: clamp(1rem, 2.7vw, 30px);
          height: clamp(1rem, 2.7vw, 30px);
          margin-right: 10px;
          transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
            filter: drop-shadow(0 0 2px white);
            filter: drop-shadow(0 0 4px whtie);
            filter: drop-shadow(0 0 6px white);
      }
      &:hover {
          transform: scale(1.1);
          .planetIcon {
              transform: scale(1.1) rotate(90deg);
          }
      }
    }
    .headerMenuContainer {
        z-index: 2;
        flex-shrink: 1;
        .headerRightIcons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            .cartIcon {
              width: 1.7vw;
              height: 1.7vw;
            }
            .userImageContainer {
                width: clamp(37px, 4vw, 50px);
                height: 4vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                border: none;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 50%;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .caret {
                    color: white;
                    width: 15px;
                    height: 15px;
                }
            }            
        }
        .userDropdown {
            z-index: 3;
            position: absolute;
            top: 115%;
            right: -20px;
            transform: translateX(-25%);
            border-radius: var(--form-button-border-radius);
            background-image: url('../../assets/OptimizedBacks/substellar11080p.jpg');
            color: white;
            padding: 8px;
            box-shadow: 
                0 10px 30px rgba(0, 0, 0, 0.4),
                0 0 1px 1px var(--primary-blue-50);
            button {
                border: none;
                font-family: "Rajdhani", sans-serif;
            }
            a, p, button {
                display: block;
                white-space: nowrap;
                width: 100%;
                color: white;
                background-color: transparent;
                padding: 8px;
                font-size: 18px;
                &:hover {
                    color: var(--primary-blue-50);
                }
            }
        }
    }
  @media all and (max-width: 462px) {
    .logoLinkContainer {
      .logoLink {
        display: none;
      }
      .rocketIcon {
          width: 24px;
          height: 24px;
      }
    }
    .toursLinkContainer {
      .toursLink {
        display: none;
      }
      .planetIcon {
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    } 
  }
}