.toursPageContainer {
  width: 100%;
  padding-left: clamp(5px, 2vw, 100px);
  padding-right: clamp(5px, 2vw, 100px);
  padding-top: clamp(40px, 10vw, 100px);
  .toursPageTop {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      h1, p {
        opacity: 0;
        animation: fadeInToursPageTop 0.3s forwards;
      }
      h1 {
        animation-delay: 0s;
      }
      p:nth-of-type(1) {
        animation-delay: 0.05s;
      }
      p:nth-of-type(2) {
        animation-delay: 0.1s;
      }
      @keyframes fadeInToursPageTop {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    h2 {
      text-align: center;
      font-family: Orbitron;
      font-weight: 400;
      font-size: clamp(18px, 10.5vw, 100px);
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
      span {
        font-size: 10px;
      }
    }
  }
  .toursContainer {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;    
  }
}
